<div class="main-container container-fluid">
  <div class="container-fluid top-bar h5">
    Most Popular
  </div>
<div class="container home-cont">
  <div class="row">
      <ng-container *ngFor="let article of articles">
        <div class="col-sm-12 col-md-6 col-lg-4" *ngIf="article.likes > 0">
          <div class="panel-container">
            <div class="panel-img-holder">
              <img [src]="article.image" onError="this.src='./assets/images/img-not-found.jpg'">
            </div>
            <div class="panel-content-holder">
              <div class="panel-heading">{{article.title}}</div>
              <div class="panel-sh-holder">
                <div class="panel-date tag">
                  <span *ngFor="let tag of article.tags"> {{ tag }}</span>
                </div>
                <div class="panel-date">
                  {{article.created_at | date}}
                </div>
              </div>
              <div class="panel-content">
                {{ article.description.length > 100 ? (article.description | slice:0:80) +'...' : article.description  }}
              </div>
            </div>
            <div class="panel-like-container">
              <div class="panel-like-holder">
                {{article.likes}}
              </div>
            </div>
          </div>
        </div>
      </ng-container>
  </div>
</div>
 

</div>
