<div class="main-container container-fluid">
  <div class="container-fluid top-bar h5">
    Create
  </div>

  <div class="form-container">
    <div class="form-holder">
    <form [formGroup]="formData" (ngSubmit)="onPublish(formData.value)">
      <div class="form-group">
        <label class="sr-only" for="title">title</label>
        <input type="text" name="title" formControlName="title" class="form-control" placeholder="Title">
      </div>

      <div class="form-group">
        <label class="sr-only" for="title">description</label>
        <textarea name="description" formControlName="description" class="form-control" placeholder="Description"></textarea>
      </div>

      <div class="form-group">
        <label class="sr-only" for="description">tags</label>
        <input type="text" name="tags" formControlName="tags" class="form-control" placeholder="Tags">
      </div>

      <div class="form-group">
        <label class="sr-only" for="author">author</label>
        <input type="text" name="author" formControlName="author" class="form-control" placeholder="Author">
      </div>

      <div class="form-group">
        <label class="sr-only" for="image">image</label>
        <input type="text" name="image" formControlName="image" class="form-control" placeholder="Image URL">
      </div>

      <input type="submit" value="Publish" class="btn btn-outline-primary btn-block" [disabled]="!formData.valid">

    </form>
    </div>
  </div>

</div>